UserInterface/Connected Services/Api/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryApi/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryApi" />
  <xs:element name="AddClientToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryApi" minOccurs="0" name="client" nillable="true" type="q1:Klienci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientToDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibraryApi" minOccurs="0" name="GetLastClientResult" nillable="true" type="q2:Klienci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibraryApi" minOccurs="0" name="GetAllClientResult" nillable="true" type="q3:ArrayOfKlienci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>