UserInterface/Connected Services/Api/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Klienci">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDKlienta" type="xs:int" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wiek" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klienci" nillable="true" type="tns:Klienci" />
  <xs:complexType name="ArrayOfKlienci">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klienci" nillable="true" type="tns:Klienci" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlienci" nillable="true" type="tns:ArrayOfKlienci" />
</xs:schema>