UserInterface/Connected Services/Api/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryApi/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryApi/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryApi/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryApi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_AddClientToDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClientToDatabase" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddClientToDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetLastClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastClient" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetLastClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ModifyClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyClient" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ModifyClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClient" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAllClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="AddClientToDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/AddClientToDatabase" message="tns:ILibraryService_AddClientToDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddClientToDatabaseResponse" message="tns:ILibraryService_AddClientToDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetLastClient" message="tns:ILibraryService_GetLastClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetLastClientResponse" message="tns:ILibraryService_GetLastClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ModifyClient" message="tns:ILibraryService_ModifyClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ModifyClientResponse" message="tns:ILibraryService_ModifyClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetAllClient" message="tns:ILibraryService_GetAllClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetAllClientResponse" message="tns:ILibraryService_GetAllClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClientToDatabase">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/AddClientToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClient">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetLastClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/ModifyClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClient">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetAllClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryApi/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>